*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button, a {
    cursor: pointer;
    text-decoration: none;
    color: black
}


/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.15);
}

.img-logo1 {
    width: 55px;
    height: 55px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.links a {
    text-decoration: none;
    color: black;
}

body{
    background-color: white;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.conteudo{
    display: flex;
    flex-direction: column;
    width: 76%;
    padding-top: 8%;
}

div.detalhes1{
    display: flex;
    flex-direction: column;
    margin: 60px 8% 0px 8%;
}

div.detalhes2{
    display: flex;
    flex-direction: column;
    margin: 60px 8% 0px 8%;
}

div.show{
    display: flex;
    justify-content: center;
    width: 100%;
}

div.showphoto{
    width: 100%;
}

#eventoimagem{
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

div.showinfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(237, 179, 248);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

h1{
    font-size: 60px;
    font-weight: 200;
    margin-top: 3px 0;
}
h1.showinfo{
    margin-top: 18px;
}

.detalhes h2, .detalhes2 h2{
    font-size:  30px;
    font-weight: 200;
    margin-top: 3px;
}

h3{
    font-size: 18px;
    font-weight: 200;
    margin-top: 3px;
}

h4{
    font-size: 16px;
    font-weight: 200;
    margin-top: 3px;
}
h4.showinfo{
    margin-top: 18px;
}

div.inscricao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 4px solid purple;
    border-radius: 25px;
    width: 280px;
    height: 90px;
    margin-top: 42px;
    font-weight: 400;
}

a#success{
    color: black;
    text-decoration: underline;
}
a#success:hover{
    color: rgb(159, 149, 18);
    transition: 1.3s;
}
a#success:not(:hover){
    transition: 1s;
}

.rodape{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    background-color: #3c3e42;
    color: white;
    margin-top: 60px;
}
.rodape1{
    display: flex;
}
.divrodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.divrodape a{
    text-decoration: None;
    font-weight: bold;
    color: white;
}
.divrodape a:hover{
    color: rgb(88, 0, 88);
    transition: 1.3s;
}
.divrodape a:not(:hover){
    color: white;
    transition: 1s;
}

.rodape2{
    background-color: #343436;
}


@media screen and (max-width: 720px) {
    .header a {
        font-size: 8px;
    }
}