body {
    background-color: white;
    color: black;
}


.container {
    margin-top: 6%;
}

.conteudo-login {
    width: 80%;
}

#navbar-id {
    background-color: rgb(77, 0, 77);
}

#input_search::placeholder {
    color: black;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.imagens {
    width: 100px;
    height: 60vh;
}

.teste {
    display: flex;
    height: 60vh;
    flex-direction: column;
}

.teste nav {
    position: fixed;
}

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 25px;
}

.image-logo {
    width: 40px;
    height: 40px;
}

.link-title {
    display: flex;
    align-items: center;
}

.link-title img {
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}