/* Header */

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 5px rgba(0,0,0,.2), 0 1px 0 rgba(255,255,255,.15);
}

.img-logo1 {
    width: 55px;
    height: 55px;
}

.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#dias tr td {
    cursor: pointer;
}

body {
    height: 150vh;
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.botao {
    cursor: pointer;
    font-size: 25pt;
}

.container-total {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
}

#calendario {
    font-size: 20pt;
    border-collapse: collapse;
    background-color: whitesmoke;
    padding: 1%;
    border-radius: 20px;
}

#calendario td {
    height: 90px;
    width: 90px;
    text-align: center;
}

#dias td {
    color: white;
    background-color: purple;
    border-radius: 15px;
}

#meses td {
    color: purple;
    font-weight: bold;
}

.outro-mes {
    color: gray !important;
}

.evento {
    color: violet;
}

#enunciado {
    font-size: 50pt;
}

@media screen and (max-width:720px) {
    .header a {
        font-size: 8px;
    }

    #enunciado {
        font-size: 50px;
    }
}